@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,latin-ext);

$font-family-head: 			'Roboto Condensed', sans-serif;
$font-family-normal:		$font-family-head;
$font-size-root:			      15px;
$font-size-h1:              2.5rem;
$font-size-h2:              2rem;
$font-size-h3:              1.75rem;
$font-size-h4:              1.5rem;
$font-size-h5:              1.25rem;
$font-size-h6:              1rem;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 940px
);

$black:                     #000;
$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;
$white:						#FFF;

$red:             #e30613;
$green:						#3aaa35;
$blue:						#009fe3;
$orange:					#f39200;
$yellow:					#f39200;

$brand-primary:             $green;
$brand-success:             $green;
$brand-info:                $gray-lighter;
$brand-warning:             #f0ad4e;
$brand-danger:              $red;
$btn-border-darker:			0;

$border-radius:				.1rem;
$border-radius-lg:      	.25rem;
$border-radius-sm:     		.05rem;

$link-color:				$blue;
$link-decoration:           none;
$link-hover-decoration:     none;
$p-link-decoration:         underline;
$p-link-hover-decoration:   none;

$active-color:				$gray;



@import 'bootstrap/bootstrap';
@import 'my-bootstrap';

body{
	background: $white;
	font-family: $font-family-normal;

	h1, h2, h3, h4, h5, h6, .btn{
		font-family: $font-family-head;
		text-transform: uppercase;
	}

	p{
		a{
			text-decoration: $p-link-decoration;

			&:hover, &:focus{
				text-decoration: $p-link-hover-decoration;
			}
		}
	}

}
